 .matrix {
     input {
         width: 3rem !important;
     }
 }
 
 form input {
     max-width: 3rem !important;
 }
 
 // style the solution screen
 #solutionScreen {
     border: .2rem solid #17a2b8;
     min-height: 40rem;
     border-radius: .2rem;
     background: aliceblue;
 }
 
 .index {
     font-size: .7rem;
     display: inline-block;
     transform: translateY(.2rem);
 }
 
 #solutionScreen {
     overflow: hidden;
     .row {
         margin: 1rem .5rem;
     }
     table {
         td {
             min-width: 2rem;
             min-height: 2rem;
             padding-left: .5rem;
             padding-right: .5rem;
             text-align: center;
         }
         b {
             margin: 0;
         }
     }
 }